*{
    font-family: Trebuchet MS;
}

body, ul, li{
    margin: 0;
    padding: 0;
}

p, li, h1, h2, h3, h4{
    color: #4e4e4e;
}

body{
    background: #f7f7f7;
}

.wrapper{
    width: 96%;
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 2%;
}

header{
    background: #e7e7e7;
    padding: 20px 0;
}

header h1{
    margin: 0;
    text-indent: -10000px;
    background: url(images/logo.png) no-repeat;;
    width: 140px;
    float: left;
}

header nav{
    float: right;
}

header nav h2{
    line-height: 0;
    margin: 0;
    text-indent: -10000px;
}

header nav ul{
    margin: 0;
    padding: 0;
}

header nav li{
    list-style-type: none;
    float: left;
    margin-left: 20px;
    margin-top: 10px;
}

header nav a{
    text-decoration: none;
    color: #4e4e4e;
    text-transform: uppercase;
    font-weight: bold;
}

header:after{
    display: block;
    content: "";
    clear: both;
}

#main-banner img{
    width: 100%;
}

#selling-points{
    margin-top: 60px;
}

#selling-points li{
    width: 23%;
    float: left;
    text-align: center;
    list-style-type: none;
    padding: 1%;
    line-height: 1.6em;
}

#selling-points:after{
    clear: both;
    display: block;
    content: "";
}

#latest-work{
    padding-top: 30px;
    margin-top: 30px;
    border-top: 2px solid #e4e4e4;
}